# REQUIRED CONFIG
BOT_TOKEN = "6412395720:AAHEL56X55GZU7ysR3XsqwyzNXOgT3qHwSI"                              # Require restart after changing it while bot running
OWNER_ID = "5053339445"                               # Require restart after changing it while bot running
TELEGRAM_API = "28685431"                           # Require restart after changing it while bot running
TELEGRAM_HASH = "bd49ec6770ad1a587c15435d34bff3a9"                          # Require restart after changing it while bot running
# OPTIONAL CONFIG
USER_SESSION_STRING = "BQG1tHcAVhjX27iidkjCTzIWxGoUhZMTypSW59hFoDSz6FREnxH0NeWWJPRg_hl7Wld62jvbBu0C3P5Bpzg4-IOBO_wef4VWZ57t7sSIl4n_hsKQyJMK1H0bK9802iYNF2pD89xW-2n_RuesnRDly4zmcj1oksqCBQG1tHcAELr2UaVtfW1lQlNoEIOTPUbNe-eojU8fCdQ2nOJ0-oHsRTvDUKjlLJpYIuf_7FUVP7vUde3hswJ-m1jtdGw6Fc-Au07gKD7eIHhpCLEebxAPgpV6cUJGsS1AAiWqKjZTj6fmfrqB1rSbh0tawBWpERXv_0v03k1kEvz57Qc2lj8D4yAEH163TIOFDLG6QaJUlM3_2l8tVAKQmZD85hYLwWzlBtcACaRX0FFs6d1SCr-CRHGgQCLtCzvQebZacMOrDJbRHQiqO8v4vGfkLlgXR1_b_rFrHb27Gj-GUsyE5p6l_r2Q9HnF3HLWc0sDqt1LJ-iKV5JaBHBCqLMvAevtNAAAAAEtM9c1AA"                    # Require restart after changing it while bot running
DATABASE_URL = ""                           # Require restart after changing it while bot running
DOWNLOAD_DIR = "/usr/src/app/downloads/"    # Require restart after changing it while bot running
CMD_SUFFIX = ""                             # Require restart after changing it while bot running
AUTHORIZED_CHATS = ""                       # Require restart after changing it while bot running
SUDO_USERS = ""                             # Require restart after changing it while bot running
STATUS_LIMIT = "10"
DEFAULT_UPLOAD = "gd"
STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
UPTOBOX_TOKEN = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "False"
YT_DLP_OPTIONS = ""
USE_SERVICE_ACCOUNTS = "False"
# GDrive Tools
GDRIVE_ID = "1ctmqmsH2KnvBPS8QAsdIoxLnvIowH0ts"
IS_TEAM_DRIVE = "False"
STOP_DUPLICATE = "True"
INDEX_URL = ""
# Rclone
RCLONE_PATH = ""
RCLONE_FLAGS = ""
RCLONE_SERVE_URL = ""
RCLONE_SERVE_PORT = ""
RCLONE_SERVE_USER = ""
RCLONE_SERVE_PASS = ""
# Update
UPSTREAM_REPO = "https://github.com/anasty17/mirror-leech-telegram-bot"
UPSTREAM_BRANCH = "master"
# Leech
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = "False"
EQUAL_SPLITS = "False"
MEDIA_GROUP = "False"
LEECH_FILENAME_PREFIX = ""
LEECH_DUMP_CHAT = ""
# qBittorrent/Aria2c
TORRENT_TIMEOUT = ""
BASE_URL = ""
BASE_URL_PORT = ""
WEB_PINCODE = "False"
#Queueing system
QUEUE_ALL = ""
QUEUE_DOWNLOAD = ""
QUEUE_UPLOAD = ""
# RSS
RSS_DELAY = "900"
RSS_CHAT = ""
# Mega
MEGA_EMAIL = ""
MEGA_PASSWORD = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = "0"
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torlock.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentproject.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/v1k45/1337x-qBittorrent-search-plugin/master/leetx.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/msagca/qbittorrent_plugins/main/uniondht.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
